<!DOCTYPE html>
<html lang="en">
<head>
  <title>Slow Poker: <%= @table.name %></title>
  <!-- <meta http-equiv="refresh" content="10" > -->
</head>

<body>

  <!-- notices & alerts messages -->
  <div class="container">
    <% if @table.stage == "blinds" %>
    <div class="alert alert-dismissable alert-success">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= @notices %>
    </div>
    <% end %>

    <!-- <% if notice.present? %>
    <div class="alert alert-dismissable alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= notice %>
  </div>
  <% end %>

  <% if alert.present? %>
  <div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= alert %>
</div>
<% end %> -->


</div>

<h4><p class="text-center"><%= @table.name %></p></h4>
<!-- table where cards are displayed -->

<table class="table table-bordered">
  <tr>
    <td><% if @table.stage == "deal_cards" || @table.stage == "blinds" || @table.stage == "standby"  %>
      FLOP (HIDDEN)
      <% else %>
      <img src="<%= @deck.where(:card => @table.flop1).first.image_url %>"
      style="width:80px;height:100px;">
      <% end %>
    </td>
    <td><% if @table.stage == "deal_cards" || @table.stage == "blinds" || @table.stage == "standby"  %>
      FLOP (HIDDEN)
      <% else %>
      <img src="<%= @deck.where(:card => @table.flop2).first.image_url %>"
      style="width:80px;height:100px;">
      <% end %>
    </td>
    <td><% if @table.stage == "deal_cards" || @table.stage == "blinds" || @table.stage == "standby"  %>
      FLOP (HIDDEN)
      <% else %>
      <img src="<%= @deck.where(:card => @table.flop3).first.image_url %>"
      style="width:80px;height:100px;">
      <% end %>
    </td>
    <td><% if @table.stage == "river" || @table.stage == "turn" %>
      <img src="<%= @deck.where(:card => @table.river).first.image_url %>"
      style="width:80px;height:100px;">
      <% else %>
      RIVER (HIDDEN)
      <% end %>
    </td>
    <td><% if @table.stage == "turn" %>
      <img src="<%= @deck.where(:card => @table.turn).first.image_url %>"
      style="width:80px;height:100px;">
      <% else %>
      TURN (HIDDEN)
      <% end %>
    </td>
  </tr>
</table>

<!-- list where players and current status are displayed -->
<h4><p class="text-center">Pot: <%= @table.pot %></p></h4>
<div>
  <ul class="list-group">

    <% @player.each do |player| %>


    <li class="list-group-item
    <% if player.folded == true%>
    disabled
    <% end %>
    ">


    <% if player.player_number != @table.active_player || @this_player != @table.active_player%>

    <!-- standby version -->
    <span class="badge"><%= player.latest_bet_this_round %></span>

    <% if player.player_number == @table.active_player %>
    <strong>
      <% end %>

      <%= player.player_number %> .
      <%= player.user.username %>

      <% if player.player_number == @table.button_holder %>
      <i class="fa fa-bandcamp" aria-hidden="true"></i>
      <% end %>

      <% if player.player_number == @table.active_player %>
    </strong>
    <% end %>

    <% else %>

    <!-- active version -->
    <form action="/record_move" method="post">

      <label for="bet_amount"><%= player.player_number %> . <%= player.user.username %></label>

      <% if player.player_number == @table.button_holder %>
      <i class="fa fa-bandcamp" aria-hidden="true"></i>
      <% end %>

      <input type="text" name="bet_amount" id="bet_amount" value="<%= @table.min_bet %>">

      <!-- radio buttons -->
      <p>
        <input type="radio" name="move" value="bet" checked> Bet . . .

        <% if
          @player.first(1).last.latest_bet_this_round +
          @player.first(2).last.latest_bet_this_round +
          @player.first(3).last.latest_bet_this_round +
          @player.first(4).last.latest_bet_this_round +
          @player.first(5).last.latest_bet_this_round +
          @player.first(6).last.latest_bet_this_round == 0 %>

          <input type="radio" name="move" value="check"> Check . . .
          <% end %>

          <input type="radio" name="move" value="fold"> Fold . . .

          <!-- hidden inputs -->
          <input type="hidden" name="user_id" value="<%= player.user_id %>">
          <input type="hidden" name="table_id" value="<%= player.table_id %>">

          <button type="submit" class="btn btn-primary btn-sm">Submit</button>
        </p>
      </form>
    </li>
    <% end %>
    <% end %>
  </ul>
</div>
<!-- player stats -->

<div class="col-md-2">
  <table class="table table-bordered" style="width: 100%;">
    <tr>
      <% if @this_player != "visitor" %>
      <th>My cards</th>
      <% end %>
      <th>Purses</th>
      <th>Buy-ins</th>
    </tr>
    <tr>
      <% if @this_player != "visitor"%>
      <td>
        <% if @table.stage != "standby" && (@player.find_by(:player_number => @this_player).c1 != nil && @player.find_by(:player_number => @this_player).c2 != nil) %>
        <img src="<%= @deck.find_by(:card => @player.find_by(:player_number => @this_player).c1).image_url %>"
        style="width:80px;height:100px;">
        <img src="<%= @deck.find_by(:card => @player.find_by(:player_number => @this_player).c2).image_url %>"
        style="width:80px;height:100px;">
        <% else %>
        <% if @player.find_by(:table_id => @table.id, :user_id => current_user.id).purse == 0 %>
        You're too broke for cards. Buy in if you want to play.
        <% else %>
        No cards to show yet. Please wait for the next round to start.
        <% end %>
        <% end %>
      </td>
      <% end %>
      <td>
        <ol>
          <% @player.each do |player| %>
          <li><%= player.purse %></li>
          <% end %>
        </ol>
      </td>

      <td>
        <ul>
          <% @player.each do |player| %>
          <li><%= player.buy_ins %></li>
          <% end %>
        </ul>
      </td>
    </tr>
    <% if @this_player != "visitor" %>
    <tr>
      <td></td>
      <td>
        <form action="/buy_in_less/<%= @table_id %>" method="post">
          <button class="btn btn-success btn-sm">
            Buy in <i class="fa fa-chevron-down" aria-hidden="true"></i>
          </button>
        </form>
      </td>
      <td>
        <form action="/buy_in_more/<%= @table_id %>" method ="post">
          <button class="btn btn-danger btn-sm">
            Buy in <i class="fa fa-chevron-up" aria-hidden="true"></i>
          </button>
        </form>
      </td>
    </tr>
    <% end %>
  </table>





</body>
</html>
