<!DOCTYPE html>
<html lang="en">
<head>

</head>

<body>
  <table class="table table-bordered">
    <tr>
      <th>ID</th>
      <th>Card</th>
      <th>Image</th>
      <th>Image URL</th>
    </tr>

    <% @deck.each do |deck| %>
    <tr>
      <td><%= deck.id %></td>
      <td><%= deck.card %></td>
      <td><img src="<%= deck.image_url %>" style="width:80px;height:100px;"></td>
      <td>
        <div class="form-group">
        <form action="/update_deck" method="post">
          <input type="hidden" value="<%= deck.card %>", name="card">
          <input type="text" value="<%= deck.image_url %>", name="image_url" class="form-control">
          <button>Update</button>
        </form>
      </div>
      </td>
    </tr>
    <% end %>
  </table>
</body>

</html>
