<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta http-equiv="refresh" content="3" >
</head>

<body>
  <table class="table table-bordered">
    <tr>
      <th>Pot</th>
      <td><%= @table.pot %></td>
      <th>Player</th>
      <% @player.each do |player| %>
      <td><%= player.player_number %></td>
      <% end %>
    </tr>
    <tr>
      <th>Stage</th>
      <td><%= @table.stage %></td>
      <th>Folded</th>
      <% @player.each do |player| %>
      <td><%= player.folded %></td>
      <% end %>
    </tr>
    <tr>
      <th>Active Player</th>
      <td><%= @table.active_player %></td>
      <th>Purse</th>
      <% @player.each do |player| %>
      <td><%= player.purse %></td>
      <% end %>
    </tr>
    <tr>
      <th>Min Bet</th>
      <td><%= @table.min_bet %></td>
      <th>Latest Bet This Round</th>
      <% @player.each do |player| %>
      <td><%= player.latest_bet_this_round %></td>
      <% end %>
    </tr>
    <tr>
      <th>Small Blind</th>
      <td><%= @table.small_blind %></td>
      <th>Big Blind</th>
      <td><%= @table.big_blind %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
<table class="table table-bordered">
  <tr>
    <th>Winners</th>
    <td><%= @table.winners %></td>
  </tr>
  <tr>
    <th>Winnings</th>
    <td><%= @table.winnings %></td>
  </tr>
  <tr>
    <th>Winning Hands</th>
    <td><% @table.winning_hands.each do |h| %>
      <%= h.rank + "," %>
      <% end %>
    </td>
  </tr>
</table>

  <table class="table table-bordered">
    <tr>
      <th></th>
      <th>p1c1</th>
      <th>p1c2</th>
      <th>p2c1</th>
      <th>p2c2</th>
      <th>p3c1</th>
      <th>p3c2</th>
      <th>p4c1</th>
      <th>p4c2</th>
      <th>p5c1</th>
      <th>p5c2</th>
      <th>p6c1</th>
      <th>p6c2</th>
    </tr>
    <tr>
      <th>from "Player"</th>
      <% @player.each do |player| %>
      <td><%= player.c1 %></td>
      <td><%= player.c2 %></td>
      <% end %>
    </tr>
    <tr>
      <th>from "Table"</th>
      <td><%= @table.p1c1 %></td>
      <td><%= @table.p1c2 %></td>
      <td><%= @table.p2c1 %></td>
      <td><%= @table.p2c2 %></td>
      <td><%= @table.p3c1 %></td>
      <td><%= @table.p3c2 %></td>
      <td><%= @table.p4c1 %></td>
      <td><%= @table.p4c2 %></td>
      <td><%= @table.p5c1 %></td>
      <td><%= @table.p5c2 %></td>
      <td><%= @table.p6c1 %></td>
      <td><%= @table.p6c2 %></td>
    </tr>

  </table>
</body>

</html>
